# Copy this file to .env and fill values as needed.
OPENAI_API_KEY=your-key-here
LANGSMITH_TRACING=your-key-here
LANGSMITH_API_KEY=your-key-here



##### GOOGLE LOGIN 
GOOGLE_CLIENT_ID=your-key-here
GOOGLE_CLIENT_SECRET=your-key-here
GOOGLE_REDIRECT_URI=your-key-here


### API POSTGRES DATABASE CONFIG
POSTGRES_USER=your-key-here
POSTGRES_PASSWORD=your-key-here
POSTGRES_DB=your-key-here
POSTGRES_HOST=your-key-here
POSTGRES_PORT=your-key-here
POSTGRES_SSLMODE=your-key-here

### MINIO CONFIG
MINIO_HOST=your-key-here
MINIO_USER=your-key-here
MINIO_PASSWORD=your-key-here
MINIO_REGION=your-key-here
MINIO_VERIFY=your-key-here
MINIO_BUCKET=your-key-here
MINIO_PREFIX_PATH=



### ELASTIC CONFIG
ELASTIC_HOST=your-key-here
ELASTIC_PASSWORD=your-key-here
ELASTIC_INDEX=your-key-here
LEX_CHUNKS_INDEX=your-key-here
LEGAL_VECTOR_DIMS=your-key-here


# --- Rerank (FlagEmbedding bge-reranker-v2-m3) ---
RERANK_ENABLED=your-key-here
RERANK_MODEL_NAME=your-key-here
RERANK_USE_FP16=your-key-here
RERANK_BATCH_SIZE=your-key-here
RERANK_MAX_QUERY_LENGTH=your-key-here
RERANK_MAX_LENGTH=your-key-here
RERANK_NORMALIZE=your-key-here
#RERANK_DEVICE=cuda:0

#### JWT CONFIG 
JWT_SECRET_KEY = your-key-here
JWT_EXPIRE_MINUTES = your-key-here



### REDIS CONFIG 

REDIS_HOST=your-key-here
REDIS_PORT=your-key-here
REDIS_PASSWORD=your-key-here
REDIS_DB=your-key-here


### EMBEDDING LOCALAI CONFIG
EMBEDDING_PROVIDER=your-key-here
EMBEDDING_API_KEY=your-key-here
EMBEDDING_BASE_URL=your-key-here
EMBEDDING_MAX_RETRIES=your-key-here
EMBEDDING_BATCH_SIZE=your-key-here
LEGAL_VECTOR_DIMS=your-key-here


### WORKER TASK 
LEX_TASK_STREAM=your-key-here

LEX_DOCLING_WARMUP=your-key-here


### OPENAI CONFIG
OPENAI_BASE_URL=your-key-here
OPENAI_API_KEY=your-key-here


### TOGERTHER AI 
TOGERTHER_API_KEY=your-key-here


### TAVILY CONFIG
TAVILY_API_KEY=your-key-here
TAVILY_TIMEOUT_SECONDS=your-key-here
